/*
Theme Name:  Findeo ChildTheme
Theme URI: http://findeo.realty
Author: Purethemes
Author URI: http://themeforest.net/user/purethemes
Description: Real Estate WordPress Theme by Purethemes
Version: 1.0
License: ThemeForest
License URI: http://themeforest.net/licenses
Text Domain: findeo
Domain Path: /languages/
Tags: light, responsive-layout, post-formats, theme-options, translation-ready, two-columns
Template:  findeo
*/

/*****************
*** Header *******
*****************/

/* Top Bar */
#top-bar .container {
	display: flex;
	justify-content: flex-end;
}
#top-bar .left-side {
	float: none;
	width: auto;
	flex: 9;
}
ul.top-bar-menu {
	padding: 11px 0 8px;
	display: flex;
	justify-content: flex-end;
}
ul.top-bar-menu li {
	margin-right: 0;
}
#top-bar .right-side {
	float: none;
	width: auto;
	flex: 1;
	flex-basis: 30px;
}

/* Main Header */
#header {
	padding: 18px 0 18px 0;
}
#header .container {
	position: relative;
}
#header .left-side {
	width: 100%;
	display: flex;
	align-items: flex-end;
	position: relative;
}

#header .right-side {
	display: none;
}

#logo {
	margin-right: 0;
}

.title-hidden {
	height: 0;
	text-indent: -9999px;
	margin: 0;
}
#logo .title-hidden {
	margin: 0;
}

#navigation {
	flex: 1;
	display: flex;
	justify-content: flex-end;
}

#navigation.style-1 ul a {
	padding: 3px 10px;
}

#navigation.style-1 ul li:last-child {
	margin-right: 0;
}
#navigation.style-1 ul li:last-child a {
	margin-right: -3px;
}

#navigation.style-1 .current-menu-item:first-of-type {
	border: 1px solid #003399;
}
#navigation.style-1 .current-menu-item .sub-menu .current-menu-item {
	border: none;
	border-bottom: 1px solid #e9e9e9;
}

#navigation.style-1 ul .current-menu-item a {
	padding: 2px 9px;
}

#navigation ul li:last-child ul {
	right: 0;
	left: auto;
}

.mmenu-trigger {
	margin-bottom: 0;
}
.cbs-text {
	color: rgb(102, 102, 102);
	font-family: "Mearriweather", serif;
	text-align: center;
}

@media only screen and (max-width: 992px)
{
	#header .left-side {
		align-items: initial;
	}
	#logo {
		margin-top: 0;
		height: 50px;
		width: 50%;
	}
	#logo img {
		height: 40px;
	}
	#logo .cbs-text {
		font-size: 12px;
	}
}

/*****************
**** Home Page****
*****************/

/* Main Search */
.main-search-container h2 {
	font-size: 60px;
}
.main-search-form {
	width: 100%;
	max-width: 1000px;
}
.main-search-form .search-type {
	padding-bottom: 20px;
}
.main-search-form .search-type label {
	padding: 15px 45px;
}
.main-search-form .main-search-box {
	padding: 18px;
}
.main-search-form button.button {
	padding: 12px 20px;
}
.main-search-form .input-with-icon-2.location a i {
	top: 50%;
}
.page-template-template-properties-search-wide .search {
	background: #003399;
	padding: 20px 0 0 0;
}

.page-template-template-properties-search-wide .search-title {
	display: none;
}

.page-template-template-properties-search-wide .search .button {
	border: 1px solid white;
	padding: 12px 20px 11px;
}
.page-template-template-properties-search-wide .search .button:hover {
	color: #003399;
	background: white;
}

.page-template-template-properties-search-wide .search .more-search-options-trigger {
	color: white;
	margin-top: 0 !important;
}
.main-search-box .col-md-12 {
	width: 100%;
}

@media (min-width: 993px)
{
	.main-search-form row.with-forms input,
	.main-search-form .row.with-forms input[type="text"],
	.main-search-form .row.with-forms .chosen-container {
		margin-bottom: 0;
	}
}
@media (max-width: 982px) {
	.main-search-form .row {
		flex-wrap: wrap;
	}
	.main-search-form .col-md-3,
	.main-search-form .col-md-6 {
		width: 100%;
	}
	.main-search-form .input-with-icon-2.location a i {
		top: 3px !important;
	}
}
@media (max-width: 480px)
{
	.main-search-container h2 {
		font-size: 50px;
	}
}

/* Properties */

.owl-wrapper {
	display: flex !important;
}
.owl-wrapper .carousel-item {
	height: 100%;
}
.owl-carousel .listing-title,
.listings-container .listing-title {
	min-height: 152px;
}
.owl-carousel .listing-item,
.listings-container .listing-item {
	height: 95%;
}
.owl-carousel .listing-img-container,
.listings-container .listing-img-container {
	height: auto;
}

.home ul.listing-details {
	min-height: 152px;
}
.findeo-post-grid-wrapper {
	min-height: 640px;
}
.findeo-post-grid-wrapper .col-md-4 {
	height: 95%;
}
.findeo-post-grid-wrapper .blog-post {
	height: 100%;
}
.findeo-post-grid-wrapper .blog-post .post-img {
	display: initial;
}

.listing-img-content .like-icon,
.listing-img-content .compare-button {
		display: none;
}

.main-detail-_brochure,
.property-main-features .main-detail-_brochure,
.main-detail-_highlights,
.property-main-features .main-detail-_highlights,
.main-detail-_suites,
.property-main-features .main-detail-_suites {
	display: none;
}
.single-property .property-main-features .main-detail-_brochure {
	display: inline-block;
}

.vc_custom_1499936238058 .sort-by {
	display: none;
}


/*******************
**** Sections & Pages
*******************/
#titlebar h1
{
	font-size: 48px;
}

.headline.headline-box.ignore + .wpb_text_column.wpb_content_element {
	padding: 80px 0 40px;
}

.headline.headline-box:not(.ignore) {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.service-image h2 {
	font-size: 1.5em;
}

.wpb_single_image a {
	padding: 10px;
	transition: box-shadow .1s;
}
.wpb_single_image a:hover {
	box-shadow: 2px 2px 6px  #ccc;
}

p + ul {
	margin-top: -1.5em;
}
@media (min-width: 768px)
{
	.fullwidth .headline-box {
		transform: translate(-50%, 10%);
	}
}

/* Resources */
.fullwidth.vc_row[data-vc-full-width] .vc_inner.vc_row.row-close-on-bottom {
	padding-bottom: 0;
}
.fullwidth.vc_row[data-vc-full-width] .vc_inner.vc_row.row-close-on-top {
	padding-top: 0;
}
.fullwidth.vc_row[data-vc-full-width] > .vc_inner.vc_row {
	padding-top: 130px;
	padding-bottom: 60px;
}
.fullwidth.vc_row[data-vc-full-width] > .vc_column_container {
	padding-top: 70px;
}

.vc-hoverbox-block-inner {
	background: rgba(255, 255, 255, 0.7);
}
.vc-hoverbox-block-inner h2 {
	margin-top: 0;
}

@media (max-width: 767px)
{
	.fullwidth.vc_row[data-vc-full-width] .vc_inner.vc_row.row-close-on-top {
		margin-top: -90px;
	}
	.vc-hoverbox-wrapper.vc-hoverbox-align--center {
		margin-bottom: 20px;
	}
}


/*********************
*** Listing Details **
*********************/
.listing-details,
.listing-item.compact .listing-hidden-content{
	text-transform: capitalize;
}
.listing-details .main-detail-_brochure,
.listing-item.compact .listing-hidden-content .main-detail-_brochure,
.listing-details .main-detail-_highlights,
.listing-item.compact .listing-hidden-content .main-detail-_highlights,
.listing-details .main-detail-_suites,
.listing-item.compact .listing-hidden-content .main-detail-_suites {
	display: none;
}

.property-main-features {
	text-transform: capitalize;
}
ul.listing-details li span {
	display: block;
	color: #444;
}

/*******************
**** Properties ****
*******************/
.row.with-forms {
	display: flex;
}

.main-search-box .main-search-input {
	display: none;
}

.post-type-archive-property .fs-inner-container:nth-child(2) {
	float: right;
}
.post-type-archive-property .layout-switcher {
	display: none;
}
.post-type-archive-property .fs-container #map-container {
	z-index: 1;
}
.post-type-archive-property .fs-listings {
	padding-top: 20px;
}
.pagination .nav-links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.pagination .nav-links .page-numbers {
	min-width: 20px;
	height: 25px;
	border-radius: 3px;
}
.pagination .nav-links .prev,
.pagination .nav-links .next {
	flex-basis: 40%;
}
.pagination .nav-links .prev {
	text-align: left;
}
.pagination .nav-links .next {
	text-align: right;
}

/********************
**** Search Forms (not home)
********************/

.with-dollar-sign ul li:before {
	content: "$";
}
.with-dollar-sign ul li:first-child:before {
	content: none;
}

section.top-search {
	padding: 20px 0 10px;
}
.top-search .container {
	width: 100%;
}
.top-search .container .row {
	margin-left: 0;
	margin-right: 0;
}
.top-search .main-search-box input,
.top-search .main-search-box .chosen-container {
	margin-bottom: 0;
}
.top-search .container .location {
	padding: 0;
}
.top-search .container .location + .row.with-forms .col-md-2:last-child,
.top-search .container .row .search-form-_offer_type,
.top-search .container .row .search-form-_property_type
{
	padding-right: 0;
}
.top-search .container .col-md-2 button.fullwidth {
	height: 51px;
}
.top-search .more-search-options-trigger.margin-bottom-10.margin-top-30 {
	margin-top: 10px !important;
	margin-bottom: 0 !important;
}
.top-search .more-search-options {
	margin-top: 10px;
}
.top-search .more-search-options .row.with-forms > div:first-child {
	padding-left: 0;
}
.top-search .more-search-options .row.with-forms > div:last-child {
	padding-right: 0;
}

/********************
**** Blog ***********
********************/

.single-post .parallax-overlay {
	background-color: rgb(48, 49, 51);
	opacity: 0.6;
}

#breadcrumbs .taxonomy.category {
	display: none;
}

/********************
**** Footer *********
********************/

#footer .pt-social-icons .ptwsi_social-icons {
	float: right;
}
.idd-logo {
	float: right;
	margin: 20px 0;
	position: relative;
}
.idd-logo a {
	display: block;
}
.idd-logo a:hover {
	cursor: pointer;
}

#bf-revz-widget-2602704918 {
	margin-top: 2rem;
}

#footer h4 {
	font-size: 18px;
}
#text-2 h4 {
	margin-top: 5px;
}
#footer .newsletter-signup {
	margin-top: -10px;
}
#footer .newsletter-signup input {
	width: 100%;
	margin-bottom: 10px;
}

@media (max-width: 982px)
{
	#menu-footer-search {
		float: left;
	}
}


/* footer Sitemap */
.site-map a{
	float: left;
    margin-top: 30px;
}